<!DOCTYPE html>
<head>
  <meta charset="UTF-8">

  <title>metrics API</title>

  <link rel="shortcut icon" type="image/png" href="http://wekeypedia.net/images/favicon.png" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/app.css">

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="http://rawgit.com/d3/d3-plugins/master/sankey/sankey.js"></script>

  <script src="/static/js/app.js"></script>

  <style>
    body { margin-top: 10px; }
  </style>

</head>
<body>
<div class="container-fluid">

<nav>
  <input type="text" class="form-control" placeholder="search for a wikipedia page">
</nav>

<div id="summary">
</div>

<div id="visualizations">
</div>

</div>
</body>
</html>
